# Python Notes by
## [contactabhishekbasu](https://contactabhishekbasu.github.io/profile/)

## #1 Your first program!
- In Python, we use the print() to display the argument. Anything inside parenthesis is called an argumnent.
- Some pointers:
   - Variable names are case-sensitive.
   - String variables can be declared either by using single or double quotes
- Rules for Python variables:
   - A variable name must start with a letter or the underscore character
   - A variable name cannot start with a number
   - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
   - Variable names are case-sensitive (age, Age and AGE are three different variables)

In [30]:
print("Hello\nWorld!")
print("Hello\tWorld!")
print("Hello\\World!")

Hello
World!
Hello	World!
Hello\World!

## #2 Data types in Python
- Numeric Types:
    - int = they can be negative -2, -3, etc also.;
    - float = 11.123 = floats are real numbers and includes decimal;
    - complex
- Text Type: str = "anything in parenthesis"
- Sequence/Compound Types:
    - list;
    - tuple;
    - range
- Mapping Type: dict
- Boolean Type: bool = True or False, always in upperclass
- Set Types:
    - set;
    - frozenset
- Binary Types:
    - bytes;
    - bytearray;
    - memoryview

- to check the type of data, we use type(). Example:

In [10]:
a=5
type(a)

int

## #3 Data Conversion
- One type of data can be converted into another
- If we convert a bool in integer that is int(True), we will get 1 and for false we will get 0 and vice-versa

## #4 Expressions
- Python runs basic math exp
- the numbers are called operands and the math symbols are known as operators
- note: we use // to round the division result, the expresssion in the parenthesis are performed first
- eg

In [60]:
print(20+34-43*2/1.4)
print(36//5)
print(25//5)
print((30+2)*5)

-7.428571428571431
7
5
160

## #5 Variables
- are used to store values, always shows the latest value
- value of x is update to 10
- eg:

In [12]:
x=5
x=x*2
print(x)

10

## #6 String Operations
- A string is a sequence of characters, a string is contained within two qoutes

## #6.1 Indexing
- Each element in the sequence can be accessed using an index represented by the array of numbers
- We can also use negative indexing with strings. The last element is given by the index -1.
- *Note: it always starts from 0*
- eg:

In [23]:
str1="Python is amazing"
str1[1] # first element in the string
print(str1[1])
print(str1[5])

y
n

## #6.2 Negative Indexing
- We can also use negative indexing with strings.
- It help us to count the element from the end of the string

In [21]:
str1[1] # last element in the string
print(str1[-1])

g

## #6.3 Slicing
- We can obtain multiple characters from a string using slicing.

In [26]:
print(str1)
print(str1[0:7])
print(str1[4:7]) 
print(str1[-1:-5])
len(str1) # output 17 used to find the length

Python is amazing
Python
on

17

## #6.4 Stride
- We can also input a stride value, with the '2' indicating that we are selecting every second variable.

In [28]:
print(str1)
# Get every second element
print(str1[::2])
# Get every second element in the range from index 0 to index 8
print(str1[0:8:2])
# Get every third element in the range from index 0 to index 16
print(str1[0:16:3])

Python is amazing
Pto saaig
Pto
Ph  an

## #6.5 Concatinate
- We can concatenate strings by using the (+) operator, and the result is a new string that is a combination of both.

In [29]:
# Concatenating two strings
str2=str1+" and I'm loving it"
print(str2)

Python is amazing and I'm loving it

## #6.6 Escape Sequence
- Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input

In [33]:
# \n includes a new line.
print("Any fool can write code that a computer can understand.\nGood programmers write code that humans can understand.\n– Martin Fowler")

# \t represents a tab.
print("Any fool can write code that a computer can understand.\tGood programmers write code that humans can understand.\n\t– Martin Fowler")


# If you want to place a backslash in your string, use double back slash
print("Any fool can write code that a computer can understand. Good programmers write code that humans can understand.\\ Martin Fowler")


# r will tell python that string will be display as raw string
print(r"Any fool can write code that a computer can understand. Good programmers write code that humans can understand.\n– Martin Fowler")

Any fool can write code that a computer can understand.
Good programmers write code that humans can understand.
– Martin Fowler
Any fool can write code that a computer can understand.	Good programmers write code that humans can understand.
	– Martin Fowler
Any fool can write code that a computer can understand. Good programmers write code that humans can understand.\ Martin Fowler
Any fool can write code that a computer can understand. Good programmers write code that humans can understand.\n– Martin Fowler

## #6.7 String methods
- String methods are used to manipulate the data. Some basic string methods are:
- More methods can be found at this [link](https://www.w3schools.com/python/python_strings_methods.asp)

In [34]:
# replace() - This method replaces a segment of the string, i.e., a substring with a new string.

str3=str2.replace("Python","Jupiter Notebook")
print(str3)

Jupiter Notebook is amazing and I'm loving it

In [38]:
# upper(): this method converts lower case characters to upper case characters
print(str3.upper())

# lower(): this method converts lower case characters to upper case characters
print(str3.lower())

# capitalize(): Converts the first character to upper case
print(str3.capitalize())

JUPITER NOTEBOOK IS AMAZING AND I'M LOVING IT
jupiter notebook is amazing and i'm loving it
Jupiter notebook is amazing and i'm loving it

In [44]:
# Searches the string for a specified value and returns the position of where it was found
# Note: If the value is not found, the find() method returns -1
# syntax: string.find(value, start, end) 

str3.find("I'm")

32

In [42]:
# index(): Searches the string for a specified value and returns the position of where it was found
# Note: If the value is not found, the find() method returns -1, but the index() method will raise an exception:

# syntax: string.index(value, start, end) 

print(str3.index("i",0,15))

3

## #7 Data Structure

### #7.1 Tupils
    - A tuple is a collection which is ordered and <b>immutable (unchangeable).</b>
    - They can contain string, integer and float
    - Tuples are written with <b>round brackets.</b>
    - Slicing and Indexing works in the same way as strings

In [9]:
# Create a tuple
t1=("Her", 2013, 8.1)

# We can print out the type of each value in the tuple
print(type(t1[0]))
print(type(t1[1]))
print(type(t1[2]))

# Concatinating tupils
t2=t1+("PG",98)
print(t2)

# Tupils can be sorted
t3=(5,8,2,8,3,6,9,3,0,4,2)
t3_sorted=sorted(t3)
print(t3_sorted)

<class 'str'>
<class 'int'>
<class 'float'>
('Her', 2013, 8.1, 'PG', 98)
[0, 2, 2, 3, 3, 4, 5, 6, 8, 8, 9]

In [4]:
# Nested Tupils (IMP)
# A tuple can contain another tuple as well as other more complex data types.
# This process is called 'nesting'. Consider the following tuple with several elements

nt=("Cool Runnings","USA",(1,"October",1993),7.1,"PG",("Adventure","Comedy","Family"))

# Each element in the tuple including other tuples can be obtained via an index

print("Element 0 of Tuple: ", nt[0]) # note: how print is concatinated!
print("Element 1 of Tuple: ", nt[1])
print(nt[2])
print(nt[3])
print(nt[4])

print(nt)

Element 0 of Tuple:  Cool Runnings
Element 1 of Tuple:  USA
(1, 'October', 1993)
7.1
PG
('Cool Runnings', 'USA', (1, 'October', 1993), 7.1, 'PG', ('Adventure', 'Comedy', 'Family'))

In [7]:
# We can further drill down on the data by using the second index to access other tuples

# Print element on each index, including nest indexes
print(nt)
print("Element 2, 0 of Tuple: ",   nt[2][0])
print("Element 2, 1 of Tuple: ",   nt[2][1])
print("Element 2, 2 of Tuple: ",   nt[2][2])
print("Element 5, 0 of Tuple: ",   nt[5][0])
print("Element 5, 1 of Tuple: ",   nt[5][1])
print("Element 5, 2 of Tuple: ",   nt[5][2])

('Cool Runnings', 'USA', (1, 'October', 1993), 7.1, 'PG', ('Adventure', 'Comedy', 'Family'))
Element 2, 0 of Tuple:  1
Element 2, 1 of Tuple:  October
Element 2, 2 of Tuple:  1993
Element 5, 0 of Tuple:  Adventure
Element 5, 1 of Tuple:  Comedy
Element 5, 2 of Tuple:  Family

In [8]:
# We can further print each element of nested tuples

# Print the second element in the second nested tuples
print(nt[5][0][1])

d

### #7.2 Lists
    - A list is a sequenced collection of objects. They are <b> mutable or modifiable.</b>
    - They can include integers, strings, floats, tuples and other lists as well.
    - The address of each element within a list is called an index
    - Lists are created using <b>square brackets.</b>
    - Slicing and Indexing works in the same way as strings
    - A list is stored vertically (for mental reference)

In [30]:
l=["Man on the Moon",1999,7.4]

# we will print same element using negative and positive indexing
print(l[0],l[-3])
print("Positive Indexing: ",l[0],"\n""Negative Indexing: ",l[-3])

Man on the Moon Man on the Moon
Positive Indexing:  Man on the Moon
Negative Indexing:  Man on the Moon

In [32]:
# Since list are mutable
# we can use the extend method to add new *elements* to the list
l.extend(["Biography","Comedy","Drama"])
print(l)

['Man on the Moon', 1999, 7.4, 'Biography', 'Comedy', 'Drama']

In [41]:
# we use append methods to add *one element* to the list
l.append(["PG15"])
l.append([5,"May",2000])
print(l)

['Man on the Moon', 1999, 7.4, 'Biography', 'Comedy', 'Drama', ['PG15'], [5, 'May', 2000]]

In [36]:
# Change the element based on the index
l[7]="5 May 2000"
print(l)

['Man on the Moon', 1999, 7.4, 'Biography', 'Comedy', 'Drama', ['PG15'], '5 May 2000']

In [43]:
# We use the del method to delete an element
del l[6]
print(l)

['Man on the Moon', 1999, 7.4, 'Biography', 'Comedy', 'Drama', [5, 'May', 2000]]

In [44]:
# The split() method splits a string into a list.

# string.split(separator, maxsplit)
# separator- Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
# maxsplit- Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

l2=["Jim & Andy"]
l2="Jim & Andy".split()
print(l2)

['Jim', '&', 'Andy']

In [45]:
# Copying & Cloning of lists
# When we set one variable equal to another; both variables are referencing the same list in memory
# We cannot copy a list simply by typing list2 = list1

l2c=l2
print(l2)
print(l2c)

# if we change any element, the referencing list will also change.

l2[1]="and"
print(l2)
print(l2c)

['Jim', '&', 'Andy']
['Jim', '&', 'Andy']
['Jim', 'and', 'Andy']
['Jim', 'and', 'Andy']

In [46]:
# In order to prevent the above referencing issue, we clone or copy it
l2cc=l2[:]
print(l2cc)

# now, we change an element in l2cc
l2cc[1]="+"
print(l2)
print(l2c)
print(l2cc)

# we can also use the copy() method
l2ccc=l2cc.copy()
print(l2ccc)

['Jim', 'and', 'Andy']
['Jim', 'and', 'Andy']
['Jim', 'and', 'Andy']
['Jim', '+', 'Andy']
['Jim', '+', 'Andy']

### #7.3 Sets
    - Set items are unordered, unchangeable, and do not allow duplicate values.
    - Sets are written with curly brackets.

In [52]:
# A set can be created from a list
print(l)
s=set(l)
print(s) #doubt

['Man on the Moon', 1999, 7.4, 'Biography', 'Comedy', 'Drama', [5, 'May', 2000]]

TypeError: unhashable type: 'list'

In [54]:
# We can add an element to a set using the add() method
# If we add the same element twice, nothing will happen as there can be no duplicates in a set

s1={"I Am Legend",2007,7.2}
s1.add("PG15")
print(s1)

# We can remove an item from a set using the remove() method
s1.remove("PG15")
print(s1)

# to check if an element is in the set, we use the in command
"PG15" in s1

{'PG15', 7.2, 'I Am Legend', 2007}
{7.2, 'I Am Legend', 2007}

False

In [ ]:
# Sets Logic Operations
# we can check the difference between sets
# as well as the symmetric difference, intersection, and union

s2={"I Am Legend", "1h 41min", 2007, "PG15"}
print(s1)
print(s2)

# you can find the intersect of two sets as follow using &
intersection=s1&s2

# You can find all the elements that are only contained in one set by using the difference method
s1.difference(s2)